header {
    
}

h1 {
    font-family: serif;
    color: white;
    margin-left: 150px;
    background-color: #4aaaa5;
    padding: 18px;
    position: relative;
    bottom: 20px;
    
}

h2 {
    position: relative;
    left: 150px;
    color: #4aaaa5;
    font-size: 40px;
    margin: 10px;
    top: -75px;









}
.whitebox {
    height: 60px;
    width: 940px;
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    position: relative;
    left: 130px;
}


section {
    width: 960px;
    text-align: center;
    position: relative;
    top: -83px;
    left: 150px;
    background-color: white;
    }

p {
    padding: 10px;
    font-family: sans-serif;
    line-height: 35px;
    }

img{ 
    float: left;
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 2px solid black;
    }

nav {
    display: inline-block;
    float: right;
    padding-top: 30px;
    

}

nav a {
    text-decoration: none;
    font-size: 25px;
}

nav ul {
    list-style: none;
    }

nav li {
    display: inline-block;
    margin-left: 35px;
    padding-right: 20px;
    position: relative;
    left: -105px; 
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
    color: white;
    text-align: center;
}



h1 {
    display: inline-block;
}















input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #4aaaa5;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #4aaaa5;
}


.container {
    margin-left: 150px;
    width: 920px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: absolute;
    top: 194px;







    





    

